
h1, h2, main{
    font-family: 'Montserrat', sans-serif
}

nav{
    font-family: 'Montserrat', sans-serif;
    font-style: italic;
}

.icon_weather{
    width: 30px;
}

.style_weather{
    font-weight: bold;
}

.img_size{
    width: 80px;
    height: 90px;
}

.divLogo{
    display: inline-flex

}

.imagen_logo{
    width: 150px;
}

td{
    height: 50px;
    background-color: #eaf4d2 !important;
}

table{
    background-color: #eaf4d2;
}

h4{
    text-align: center;
    font-weight: bold;
}

#carrito{
    width: 35%;
    height: fit-content;
}

#listaProductos{
    width: 65%;
}

#contenedorPadre{
    display: flex;
}

.estiloHeader{
    background-color: #FFDFB2;
}

nav{
    background-color:#D8CDE8;
    margin-bottom: 40px;
    height: 50px;
}

.divClima{
    align-items: flex-start;
}

.navStyle{
    list-style-type: none;
    text-transform: uppercase;
}


.div{
    margin-bottom: 20px;
}

.centered{
    display: flex;
    flex-direction: column;
    align-items: center;
}


.card_size{
    height: 375px;
    width: 210px;
}

.nombre{
    font-size: 15px;
}

.btnComprar {
    background-color: #E5CDE8;
    color: black;
    padding: 8px 16px;
    margin: 4px 2px;
}

.btnComprar:hover {
    background-color: #c472b1a2;
    color: black;
}
 
.totalEstilo{
    font-weight: bold;
    font-size: 20px;
    margin-left: 5px;

}

.buttonStyle{
    margin-top: 8px;
    justify-content: center;
    background-color: #D8CDE8;
    color: black;
}

.buttonStyle:hover {
    background-color: #53085286;
    color: black;
}

.carritoVacioStyle{
    margin-top: 45px;
    font-weight: bold;
}

.animate__fadeIn {
    display: inline-block;
    margin: 0 0.5rem;
  
    animation: fadeIn;
    animation-duration: 3s; 
}

footer{
    background-color:#FFDFB2;
    background-image:url("./img/pawscolores-removebg-preview.png");
}

.color_bg{
    background-color:#FFDFB2;
}

.consetra, .centered-links {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.centered-links {
    justify-content: center;
    margin-bottom: 0px;
}

.consetra {
    justify-content: center;
    align-self: start;
    text-align: start;
}

.icon-link {
    width: 20px;
    margin-bottom: 8px;
    margin-top: 5px;
    margin-right: 8px;
    margin-left: 8px;
}